# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# testflo
testflo_report.out

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints
openmdao_book/_build

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode config
.vscode

# PyCharm config
.idea

# OSX
.DS_Store

# OpenMDAO_book html
openmdao_book/*/*/*.html